@media only screen and (max-width: 425px) {
    html {
        font-family: "Raleway", "Helvetica", sans-serif;
        font-weight: 400;
        color: #2F3442;
        height: 100%;
        background-color: #FFFFFF;
    }
    .icon {color: #BCD2DA;}
    
    body {
        display: flex;
        justify-content:center;
    }
    
    .card {
        /* display, flex-direction */
        border: 1px solid #CAD0D2;
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    
    .card__description {
        /* display, flex-direction, justify-content, align-items */
        padding-bottom: 3px;
        padding-top: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .card__descriptionIcon {font-size: 20px; margin-bottom: 5px;}
    
    .card__descriptionText {
        color: #57727C;
        font-size: 9px;
        text-align: center;
        max-width: calc(100% - 30px); 
          
        
    }
    
    
    .card__price {
        text-align: center;
        color: #57727C;
        font-size: 9px;
        font-weight: 700;
        padding: 5px 15px;
        border-top: 1px solid #D7DBDD;
        background-color: #EEF3F5;    
       
        
    }
    
    .cardGroup {
        /* display */
      
        border: 1px solid #CAD0D2;
        border-radius: 4px;
        overflow: hidden;
        width: 710px;
        display: flex;  
        
       
    }
      
        .cardGroup__card {
          /* flex-grow, flex-shrink, flex-basis */
      
          border: none;
          border-radius: 0;
          flex-grow: 1;
          border-left: 1px solid #D7DBDD;
          flex-basis: 0;    
          
    
        }
      
        .cardGroup__cardDescription {
         flex-grow:1;
         
          /* flex-grow, flex-shrink, flex-basis */
        }

}

  
@media only screen and (min-width: 426px) {
html {
    font-family: "Raleway", "Helvetica", sans-serif;
    font-weight: 400;
    color: #2F3442;
    height: 100%;
    background-color: #FFFFFF;
}
.icon {color: #BCD2DA;}

body {
    display: flex;
    justify-content:center;
}

.card {
    /* display, flex-direction */
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card__description {
    /* display, flex-direction, justify-content, align-items */
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card__descriptionIcon {font-size: 32px; margin-bottom: 10px;}

.card__descriptionText {
    color: #57727C;
    font-size: 12px;
    text-align: center;
    max-width: calc(100% - 30px); 
      
    
}


.card__price {
    text-align: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    border-top: 1px solid #D7DBDD;
    background-color: #EEF3F5;    
   
    
}

.cardGroup {
    /* display */
  
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
    width: 710px;
    display: flex;  
    
   
}
  
    .cardGroup__card {
      /* flex-grow, flex-shrink, flex-basis */
  
      border: none;
      border-radius: 0;
      flex-grow: 1;
      border-left: 1px solid #D7DBDD;
      flex-basis: 0;    
      

    }
  
    .cardGroup__cardDescription {
     flex-grow:1;
     
      /* flex-grow, flex-shrink, flex-basis */
    }
}